ul{
    list-style-type: none;
}
li{
    display: inline-block;
    background-color: yellow;
    padding: 6px;
    border: 1px solid black;
    font-size: none;
}
li>a{
    text-decoration: none;
}
header{
    background-color: lightblue;
    font-family: fantasy;
}
mark{
    background-color: magenta;
}